* {
    box-sizing: border-box;
    padding: 10px;
    background-color: lightblue;
}

h1 {
    color: blue;
}

.nav {
    width: 100%;
    background-color: rgb(19, 18, 18);
    overflow: hidden;

}

.nav a {
    float: left;
    padding: 8px;
    color: skyblue;
    text-decoration: none;
    font-size: 22px;
    width: 16%;
    text-align: center;
    background-color: black;
}

.nav a:hover {
    background-color: #fff;
    color: rgb(8, 7, 7);
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: gray;
    border-width: 10px;
    width: 25%;
}